.mealsdiv {
  text-align: center;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.showcases {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.showcase1 {
  width: 350px;
  background-color: #ffff;
  border-radius: 2rem;
  height: 500px;
  box-shadow: 2px 5px 10px -6px #6f6f6f;
}

.showcase1 img {
  width: 350px;
  border-radius: 2rem 2rem 0 0;
}

.showcase1 p {
  /* text-align: left; */
}

.showcase1 button {
  background-color: #51cf66;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.4rem;
  font-family: "Rubik", sans-serif;
  border: none;
}

.tagsdiv1 {
  width: 250px;
  /* background-color: red; */
  margin: 0 auto;
  text-align: left;
  padding-top: 1rem;
  
}
.tagsdiv1 h2{
    margin-top: 1rem;
}
.tagsdiv1 span{
    color: #eb984e;
    /* width: 5rem; */
    font-size: 1.5rem;
    margin-right: 1.5rem;
    align-items: center;
}

.tagsdiv1 p{
    align-items: center;
    display: flex;
}

.showcase2 {
  width: 350px;
  /* background-color: aqua; */
  /* box-shadow: 5px 2px 8px #ffff; */
  border-radius: 2rem;
  box-shadow: 2px 5px 10px -6px #6f6f6f;
}
.showcase2 img {
  width: 350px;
  border-radius: 2rem 2rem 0 0;
}

.showcase2 button {
  background-color: #51cf66;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.4rem;
  font-family: "Rubik", sans-serif;
  border: none;
}

.tagsdiv2 {
  width: 250px;
  /* background-color: red; */
  margin: 0 auto;
  text-align: left;
  padding-top: 1rem;
}

.tagsdiv2 h2{
    margin-top: 1rem;
}

.tagsdiv2 span{
    color: #eb984e;
    /* width: 5rem; */
    font-size: 1.5rem;
}

.pre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    margin: 0;
}

.pre p{
    margin: 10px 0 10px 0;
}

.pre2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin: 0;
}
.pre3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    margin: 0;
}

.ideals{
    align-items: center;
}

.ideals span{
 color: #eb984e;
 font-size: 2rem;
}