.omnilogo {
  width: 190px;
  height: 25px;
  align-items: center;
}
.overalldiv {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding: 20px 10px 10px 10px;
  width: 90%;
  align-items: center;
}

.linksdiv {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-btn {
  background-color: #e67e22;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 8px 10px 8px 10px;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

.linksdiv a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.linksdiv a:hover{
    color: #cf711f;
}
/* .homelink{
    font-size: 20px;
}
.mealink{
    font-size: 20px;
}
.planleak{
    font-size: 20px;
} */
.cover {
  background-color: #fdf2e9;
}
