.footie{
    /* display: flex;
    justify-content: space-between; */
    padding: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}
.logodiv2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 250px;
}
.logof{
    width: 200px;
}
.ig{
    width: 30px;
}
.fb{
width: 30px;
}

.twt{
width: 30px;
}


.socials{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

h2{
    margin-top: 0;
}


@media (max-width: 1010px) {
    .footie .tes:nth-child(n+2){
        /* display: flex;
        flex-direction: column; */
        /* grid-template-columns: 1fr 1fr; */
        /* background-color: red;
        display: grid ; */
        /* grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr; */
    }
}